* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  font-size: inherit;
  font-family: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: lightgray;
}

/****************************************************************** NAV */
nav {
  position: sticky;
  top: 0;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin: 0 6rem;
  padding: 1.5rem 0rem;
}
nav span {
  font-size: 2rem;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  padding: 0.3rem 0.8rem;
  border-radius: 2rem;
  font-size: 0.9rem;
  color: white;
  transition: 0.2s ease-in-out;
}
nav ul li:nth-child(5) {
  text-transform: uppercase;
  background-color: white;
  color: black;
}
nav ul li:nth-child(5):hover {
  background-color: rgb(194, 194, 194);
  color: black;
}
nav ul li:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
/****************************************************************** HERO */

#hero {
  height: 86vh;
  padding: 0 6rem;
  display: flex;
  /* background-color: gradiient; */
}

#hero div {
  width: 50%;
  overflow: hidden;
}
#hero img {
  width: 100%;
}
#hero .hero-content {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}
#hero .hero-content h2 {
  font-size: 2rem;
}
#hero .hero-content h1 {
  font-size: 4rem;
}
#hero .hero-content p {
  font-size: 1.1rem;
  font-weight: bolder;
  color: gray;
}
#hero .hero-socials {
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  font-size: 2rem;
}
#hero .hero-socials i {
  background-color: rgb(185, 185, 185);
  padding: 0.3rem;
  border-radius: 0.2rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.507);
  transition: 0.3s ease-in-out;
}
#hero .hero-socials i:hover {
  background-color: rgb(212, 211, 211);
  padding: 0.3rem;
  border-radius: 0.2rem;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.507);
  cursor: pointer;
}
