* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  font-size: inherit;
  font-family: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: lightgray;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
/****************************************************************** HEADER/ BG */
header {
  background-image: url(./assets/hero-svg.svg);
  background-size: cover;
  background-position: -180%;
}

/****************************************************************** NAV */
nav {
  position: sticky;
  /* top: 0;
  left: 0; */
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin: 0 6rem;
  padding: 1.5rem 0rem;
  /* background-color: blue; */
}
nav span {
  font-size: 2rem;
  cursor: pointer;
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
  /* letter-spacing: 0.1rem; */
}

nav ul {
  list-style-type: none;
  width: 48%;
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  padding: 0.3rem 0.8rem;
  border-radius: 2rem;
  font-size: 0.9rem;
  color: white;
  transition: 0.2s ease-in-out;
  background-color: black;
}
nav ul li:nth-child(5) {
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: white;
  color: black;
}
nav ul li:nth-child(5):hover {
  background-color: rgb(194, 194, 194);
  color: black;
}
nav ul li:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
/****************************************************************** HERO */

#hero {
  height: 100vh;
  padding: 0 6rem;
  display: flex;
  /* background-color: blue; */
}

#hero div {
  width: 50%;
  overflow: hidden;
}
#hero img {
  width: 100%;
}
#hero .hero-content {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}
#hero .hero-content h2 {
  font-size: 2rem;
}
#hero .hero-content h1 {
  font-size: 4rem;
}
#hero .hero-content p {
  font-size: 1.1rem;
  font-weight: bolder;
  color: gray;
}
#hero .hero-socials {
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  font-size: 2rem;
}
#hero .hero-socials i {
  background-color: rgb(185, 185, 185);
  padding: 0.3rem;
  border-radius: 0.2rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.507);
  transition: 0.3s ease-in-out;
}
#hero .hero-socials i:hover {
  background-color: rgb(212, 211, 211);
  padding: 0.3rem;
  border-radius: 0.2rem;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.507);
  cursor: pointer;
}
/****************************************************************** ABOUT */
#about {
  margin-top: 1rem;
  padding: 0 6rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
#about h2 {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25rem;

  border: 4px solid black;
  padding: 0.7rem 2rem;
}
#about .about-paragraph {
  font-size: 0.9rem;
  text-align: center;
  width: 70%;
  line-height: 1.5;
}

#about h3 {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25rem;

  border-left: 3px solid black;
  border-right: 3px solid black;
  padding: 0.2rem 1rem;
  margin-top: 1rem;
}
#about .explore {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0rem;
}
#about .explore div {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1rem;
  transition: 0.2s ease-in-out;
}
#about .explore div:hover {
  box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.329);
  border-radius: 0.2rem;
  cursor: default;
}
#about .explore span {
  display: flex;
  align-items: center;
}
#about .explore h4 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;

  margin-left: -1rem;
}
#about .explore i {
  font-size: 2.5rem;
  color: rgba(128, 128, 128, 0.623);
}
#about .explore p {
  font-size: 0.9rem;
  line-height: 1.5;
}
/****************************************************************** SKILLS */
