@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  /* FONTS */
  --font-Montserrat: "Montserrat", sans-serif;
  --font-Raleway: "Raleway", sans-serif;

  /* COLORS */
  --color-Black: black;
  --color-White: white;
  --color-Gray: gray;
  --color-LightGray: lightgray;

  /* NAV ANIMATION */
  --animate-navBar-animation: navBar-animation 0.3s ease-in-out forwards;
  @keyframes navBar-animation {
    0% {
      transform: scaleX(0);
    }
    80% {
      transform: scaleX(1.1);
    }
    100% {
      transform: scaleX(1);
    }
  }
}
